<footer>
  <div class="footer-inner">
    <p>
      <a href="{{ site.Params.crowURL }}">{{ i18n "footer.crow" }}</a> ·
      <a href="mailto:{{ site.Params.email }}">{{ site.Params.email }}</a> ·
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.hu" rel="license">{{ i18n "footer.licence" }}</a>
    </p>
    <p>
      <a href="{{ site.Params.crowBlogURL }}" rel="noopener">{{ i18n "footer.crow_blog" }}</a> ·
      <a href="{{ "index.xml" | relURL }}">RSS</a>
    </p>
  </div>
</footer>
